.advantages {
  min-height: 1051px;

  background-color: #f2f2f2;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 768px;

  text-align: center;

  @media (min-width: @tablet-width) {
    min-height: 725px;

    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 20px 272px;
    background-size: 268px 481px;
  }

  @media (min-width: @desktop-width) {
    min-height: 932px;

    background-image: none;
  }
}



.advantages__wrapper {
  // background-image: url("../img/bg-triangle-white.svg");
  // background-repeat: no-repeat;
  // background-position: 0 0;
  // background-size: 100% auto;
}


.advantages__text {
  .indent-reset ();
  padding-top: 46px;

  background-color: white;

  font-size: 24px;
  font-weight: 300;
  color: #283645;
  text-align: center;

  &:last-of-type {
    padding-bottom: 46px;
  }

  @media (min-width: @tablet-width) {
    padding: 0;

    font-size: 40px;

    &:first-of-type {
      padding-top: 59px;
    }

    &:last-of-type {
      padding-bottom: 36px;
      padding-right: 130px;
      padding-left: 130px;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;

    &:first-of-type {
      padding-top: 78px;
    }

    &:last-of-type {
      padding-bottom: 75px;
      padding-right: 300px;
      padding-left: 300px;
    }
  }
}

.advantages__list {
  .indent-reset ();
  padding-top: 94px;

  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 70px;

    text-align: left;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;

    width: 940px;

    text-align: center;
  }
}

.advantages__item {
  margin: 0 auto;
  padding-bottom: 45px;

  width: 259px;

  @media (min-width: @tablet-width) {
    margin-left: 329px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.advantages__title {
  margin-bottom: 15px;

  font-size: 18px;
  font-weight: 700;
}

.advantages__description {
  font-size: 14px;
  font-weight: 400;
}

.advantages__picture {
  display: block;
  margin: 0 auto;
}
