.page-footer {
  width: @mobile-width;

  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 93%;
    min-height: 127px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    min-height: 197px;
  }
}

.page-footer--none {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding-top: 40px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-around;

    padding-top: 77px;
  }
}

.page-footer__logo-link {
  margin: 40px auto 40px;

  background: url("../img/logo-pink-blue-mobile.svg") no-repeat center center;

  width: 147px;
  height: 40px;

  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  &:hover,
  &:focus {
    background-image: url("../img/logo-pink-active-mobile.svg");
  }

  &:active {
    background-image: url("../img/logo-pink-blue-mobile.svg");
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.page-footer__social-list {
  .indent-reset ();
  margin: 0 auto 40px;

  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.page-footer__social-item {
  margin-right: 17px;

  &:last-child {
    margin-right: 0;
  }
}

.page-footer__social-link {
  width: 46px;
  height: 46px;

  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;

  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  &:hover,
  &:focus {
    border: 3px solid rgba(40, 54, 69, 1);
  }

  &:active {
    opacity: 0.1;
  }
}

.page-footer__social-link--twitter {
  background: url("../img/icon-twitter.svg") no-repeat center center;
}

.page-footer__social-link--facebook {
  background: url("../img/icon-facebook.svg") no-repeat center center;
}

.page-footer__social-link--youtube {
  background: url("../img/icon-youtube.svg") no-repeat center center;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;

  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.page-footer__copyright-text {
  .indent-reset ();
  padding-right: 15px;
  align-self: center;

  font-size: 14px;
  font-weight: 400;
  color: #283645;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.page-footer__copyright-link {
  width: 27px;
  height: 34px;

  & path {
    fill: #d22856;
  }

  &:hover path,
  &:focus path {
    fill: #283645;
  }

  &:active {
    opacity: 0.3;
  }
}
