.page-footer {
  width: @mobile-width;

  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 93%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.page-footer--none {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-around;

    padding-top: 77px;
    padding-bottom: 77px;
  }
}

.page-footer__logo-link {
  display: block;
  margin: 40px auto 40px;

  width: 147px;
  height: 40px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: -17px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -12px;
  }
}

// .page-footer__logo-link:hover path {
//   fill: #d22856;
// }

// .page-footer__logo-link:active {
//   opacity: 0.3;
// }

// .page-footer__logo-link:active g path {
//   fill: #283645;
// }

// .page-footer__logo-pink path {
//   fill: black;
// }

// .page-footer__logo-glasses-drop {
//   display: none;

//   @media (min-width: @desktop-width) {
//     display: inline-block;
//   }
// }

// .page-footer__logo-full-glasses path {
//   fill: #d22856;
// }

// .page-footer__logo-full-glasses {
//   @media (min-width: @desktop-width) {
//     display: none;
//   }
// }

// .page-footer__logo-one-star {
//   display: none;

//   @media (min-width: @desktop-width) {
//     display: inline-block;
//   }
// }

// .page-footer__logo-one-star path {
//   @media (min-width: @desktop-width) {
//     fill: #d22856;
//   }
// }

// .page-footer__logo-stars {
//   display: none;

//   @media (min-width: @desktop-width) {
//     display: inline-block;
//   }
// }

// .page-footer__logo-stars path {
//   @media (min-width: @desktop-width) {
//     fill: black;
//   }
// }

.page-footer__logo-link:hover {
  fill: #d22856;
}

.page-footer__logo-link:active {
  opacity: 0.3;
}

.page-footer__logo-svg .page-footer__logo-pink {
  fill: black;
}

.page-footer__logo-link:active .page-footer__logo-svg {
  fill: black;
}

.page-footer__logo-svg .page-footer__logo-glasses-drop {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}

.page-footer__logo-glasses-drop {
  fill: #d22856;
}

.page-footer__logo-full-glasses {
  fill: #d22856;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-footer__logo-one-star {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}

.page-footer__logo-one-star path {
  @media (min-width: @desktop-width) {
    fill: #d22856;
  }
}

.page-footer__logo-stars {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}

.page-footer__logo-svg .page-footer__logo-stars {
  @media (min-width: @desktop-width) {
    fill: black;
  }
}

.page-footer__social-list {
  .indent-reset ();
  margin: 0 auto 40px;

  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.page-footer__social-item {
  list-style-type: none;
  margin-right: 17px;

  &:last-child {
    margin-right: 0;
  }
}

.page-footer__social-link {
  display: inline-block;
  text-align: center;
  padding-top: 11px;
  box-sizing: border-box;
  vertical-align: middle;
  width: 49px;
  height: 49px;

  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;

  &:hover {
    border: 3px solid rgba(40, 54, 69, 1);
  }

  &:active {
    opacity: 0.1;
  }

  &--twitter {
    padding-left: 2px;
  }

  &--youtube {
    padding-left: 3px;
  }
}

.page-footer__social-link svg {
  fill: #d22856;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;

  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.page-footer__copyright-text {
  .indent-reset ();
  padding-right: 15px;
  align-self: center;

  font-size: 14px;
  font-weight: 400;
  color: #283645;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.page-footer__copyright-link {
  width: 27px;
  height: 34px;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright-link svg {
  fill: #d22856;
}

.page-footer__copyright-link:hover svg {
  fill: #283645;
}
