.statistics {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;

    min-height: 387px;
    text-align: left;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      padding-top: 60px;
      min-height: 300px;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 429px;

    background-color: #f2f2f2;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      min-height: 330px;
    }
  }
}

.statistics__picture {
  @media (min-width: @tablet-width) {
    position: relative;
    margin-left: 6%;
    margin-right: 13%;
    margin-top: 56px;
    padding-right: 2px;
    padding-top: 17px;
    font-size: 96px;
    font-weight: 700;
    color: #d22856;
    text-align: center;

    width: 172px;
    height: 160px;

    border: 14px solid #d22856;
    border-radius: 50%;

    &::before {
      position: absolute;
      top: -68px;
      left: -32px;
      z-index: -2;

      content: "";
      background: url("../img/icon-timer.svg") no-repeat center center;
      background-size: 238px 276px;
      width: 238px;
      height: 276px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: -2px;
    margin-left: 12.5%;
    margin-right: 8%;

    font-size: 120px;
    padding: 22px 23px 37px 28px;
    border: 14px solid #d22856;

    &::before {
      top: -92px;
      left: -44px;
      z-index: 0;
      background-size: 304px 341px;
      width: 308px;
      height: 357px;
    }

    &::after {
      content: "";

      position: absolute;
      top: -15px;
      left: -16px;

      padding: 110px 110px;
      border: 15px solid #d22856;
      border-radius: 50%;
    }
  }
}

.statistics__description {
  @media (min-width: @tablet-width) {
    flex-grow: 1;

    width: 330px;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
  }
}

.statistics__title {
  @media (min-width: @tablet-width) {
    .indent-reset ();
    margin-top: 28px;
    margin-bottom: 9px;

    .font(30px, 700, 36px);
    color: black;
  }

  @media (min-width: @desktop-width) {
    margin-top: -8px;
  }
}

.statistics__title br {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.statistics__text {
  @media (min-width: @tablet-width) {
    .indent-reset ();
    padding-bottom: 11px;

    .font(14px, 400, 24px);
    color: #283645;
  }

  @media (min-width: @desktop-width) {
    padding-top: 14px;
    padding-bottom: 33px;

    .font(18px, 400, 30px);

    width: 74.1%;
  }
}

.statistics__info {
  @media (min-width: @tablet-width) {
    .indent-reset ();
    .font(14px, 400, 24px);
    color: #d22856;
    text-decoration-line: underline;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}
