.reviews {
  background-color: white;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
}

.reviews__item {
  width: 276px;
  margin: 0 auto 42px;

  text-align: center;
}

.reviews__author-name {
  margin-top: 49px;
  margin-bottom: 21px;

  font-size: 18px;
  font-weight: 700;
  color: black;
}

.reviews__text {
  font-size: 14px;
  font-weight: 400;
  color: #283645;
}

.reviews__toggles {
  text-align: center;
}
