.user-photos {
  margin-top: 1px;
  background-color: white;
}

@media (min-width: @desktop-width) {
  .user-photos {
    margin-top: 0;
  }
}

// .user-photos__wrapper {

// }

.user-photos__title {
  .indent-reset ();
  padding: 35px 76px 70px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;

  font-size: 24px;
  font-weight: 300;
  color: white;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .user-photos__title {
    min-height: 180px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center center;

    font-size: 50px;
  }
}

@media (min-width: @desktop-width) {
  .user-photos__title {
    min-height: 280px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
}

.user-photos__description {
  .indent-reset ();
  margin: 56px 36px;

  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  color: #283645;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .user-photos__description {
    min-height: 228px;

    margin: 0;
    padding: 100px 110px 0;

    box-sizing: border-box;

    font-size: 18px;
    line-height: 1.67;
  }
}

@media (min-width: @desktop-width) {
  .user-photos__description {
    min-height: 240px;

    padding: 100px 315px 0;
  }
}

.user-photos__list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

@media (min-width: @tablet-width) {
  .user-photos__list {
    width: 620px;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .user-photos__list {
    width: 940px;
  }
}

.user-photos__item {
  margin-bottom: 20px;

  position: relative;
}

@media (min-width: @tablet-width) {
  .user-photos__item {
    margin: 0;

    width: 300px;
    min-height: 455px;
  }
}

@media (min-width: @desktop-width) {
  .user-photos__item {
    width: 300px;
    min-height: 555px;
  }
}

@media (min-width: @tablet-width) {
  .user-photos__panorama-of-day {
    width: 620px;
    min-height: 630px;
  }
}

@media (min-width: @desktop-width) {
  .user-photos__panorama-of-day {
    width: 940px;
    min-height: 602px;
  }
}

.user-photos__photo {
  display: block;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  width: 300px;
  height: 300px;
}

.user-photos__user {
  width: 280px;
  background-color: #f2f2f2;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .user-photos__user {
    width: 100%;
  }
}

.user-photos__author-name {
  .indent-reset ();
  padding-top: 25px;
  margin-left: 17px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.user-photos__time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  color: #283645;
}

.user-photos__comment {
  .indent-reset ();
  padding-left: 17px;
  padding-right: 13px;
  padding-bottom: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.user-photos__heart {
  padding-left: 50px;
  padding-bottom: 28px;

  font-size: 12px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;

  border: none;
  outline: none;

  background-color: transparent;

  &::before {
    content: " ";
    background-image: url("../img/icon-heart.svg");
    background-size: 13px 12px;
    background-repeat: no-repeat;

    width: 13px;
    height: 12px;

    position: absolute;
    z-index: 2;
  }
  // background-image: url("../img/icon-heart.svg");
  // border: none;
  // background-color: transparent;
  // background-repeat: no-repeat;

  // width: 13px;
  // height: 12px;
}
