@mobile-width: 320px;
@tablet-width: 660px;
@desktop-width: 1200px;

@header-bg-color: #283645;

@font-w-light: 300;
@font-w-regular: 400;
@font-w-bold: 700;

@font-family-base: "Open Sans", "Arial", sans-serif;
@font-size-base: 18px;
